*{
    margin: 0;
    padding: 0;
}
/*
body{
    margin-top: 350px;
    background: url('./img/qu.png') no-repeat center center;
    background-size: cover; 
}*/

body{
    margin-top: 350px;
    background: url('http://p4oroxydn.bkt.clouddn.com/qu.png') no-repeat center center;
    background-size: cover; 
}

.key{  
    border: 1px solid #3f2929,2px solid #1a1b1c,3px solid #1f2020;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    width: 50px;
    height: 40px;
    background-image: -webkit-linear-gradient(bottom, #111111 0%, #292929 100%);
    border-radius: 6px;
    color: #d0d0d0;
    position: relative;
    font-family:  Helvetica;
    box-shadow: 0 0 0px 2px black,0 3px 0 2px #080808;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.key img{
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 14px;
    height: 14px;
}
.row{
    margin: 16px;
}
.row .key{
    margin: 0 10px;
}
kbd>button{
    display: none;
}
kbd:hover button:nth-child(1){
    display: block;
    position: absolute;
    right: 1px;
    bottom: 1px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#x{
    margin: 150px 0 0 0;
    text-align: center;
}